{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <main>
        <header class="header">
            <div class="container header_container flex">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/store_icon.png' %}" alt="icon">
                </a>
                <ul class="list nav_list flex">
                    <li class="nav_item">
                        <a href="{% url 'category' cats='Vegetables' %}" class="nav_link">Vegetables</a>
                    </li>
                    <li class="nav_item">
                        <a href="{% url 'category' cats='Fruits' %}" class="nav_link">Fruits</a>
                    </li>
                    <li class="nav_item">
                        <a href="{% url 'category' cats='Meat' %}" class="nav_link">Meat</a>
                    </li>
                    <li class="nav_item">
                        <a href="{% url 'add' %}" class="nav_link">Add a new product</a>
                    </li>
                    <li class="nav_item">
                        <a href="#" class="nav_link">Log in</a>
                    </li>
                </ul>
            </div>
        </header>
        <section class="main_section">
            <div class="container">
                {% block content %}
                <div class="context">
                    <h1 class="main_title">{{ name }}</h1>
                    <h2 class="sec_title"></h2>
                    <ul class="list sec_list">
                        <li class="sec_item"></li>
                    </ul>
                </div>
                {% endblock %}
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container footer_container">
            <span class="copy_right">StoreDjango ® 2024</span>
            <p class="date"></p>
        </div>
    </footer>
</body>
</html>