{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        {% if massage %}
            <p>There is no such amount of product in stock.</p>
        {% endif %}
        <input type="text" name="name" placeholder="Username" required><br>
        <input type="tel" name="phone" placeholder="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required><br>
        <input type="text" name="address" placeholder="123 Main St, City, Country"><br><br>
        <input type="number" name="weight" placeholder="weight"><br>
        <button type="submit">Confirm</button>
    </form>
{% endblock %}