{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'buy' id=product.id %}" method="POST">
        {% csrf_token %}
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        {% if success %}
            <p class="success">{{ success }}</p>
        {% endif %}
        <input type="text" name="name" placeholder="Username" required value="{{ request.POST.name }}"><br>
        <input type="tel" name="phone" placeholder="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required value="{{ request.POST.phone }}"><br>
        <input type="text" name="address" placeholder="123 Main St, City, Country" value="{{ request.POST.address }}"><br>
        <input type="number" name="weight" placeholder="weight" required value="{{ request.POST.weight }}"><br>
        <button type="submit">Confirm</button>
    </form>
{% endblock %}
