{% extends 'base.html' %}

{% block content %}
<ul class="list product_list">
    {% for v in vegetables %}
        <h2 class="product_name">{{ v.name }}</h2>
        <li class="product_item">
            <p class="product_descr">Price for kg: {{ v.price }}$</p>
            {% if v.photo %}
                <img class="product_image" src="{{ v.photo.url }}" alt="product" width="250">
            {% endif %}
            <button class="but_btn">Buy</button>
        </li>
    {% endfor %}
</ul>
{% endblock %}